[general]

encoding=latin-1
target=windows

concordance-mode=concordance-sentences

output=file

citations=25

select-citation-method=random



[concordance-width]

width=150

regex_escape_chars=?.*$+()[]

regex_is_char=[a-zA-Z0-9'\-]

regex_start_right_concordance={0}\s*{1}\s*

regex_end_left_concordance={0}\s*{1}

regex_end_right_concordance={0}

regex_other_concordance={0}\s*



[concordance-sentences]

sentences=1

regex_escape_chars=?.*$+()[]

regex_is_char=[a-zA-Z0-9'\-]

regex_start_right_concordance={0}\s*{1}\s*

regex_end_left_concordance={0}\s*{1}

regex_end_right_concordance={0}

regex_other_concordance={0}\s*



[pickle-report]

word_list_folder=base_word_lists

pattern=basewrd{0}.txt

number_of_lists=25

regex_extract_list_word=[A-ZÊ]+

regex_is_word=[a-zA-Z0-9'\-]+

exclusion_tokens=-

non_possessive_s_token=it,there,he,she,who,what

difficulty_threshold=0.95
