{
    "general": {
        "encoding": "utf-16",
        "target": "windows",
        "concordance_mode": "concordance_width",
        "parser_output": "output.txt",
        "report_input": "output.txt",
        "report_output": "report.csv",
        "citations": 25,
        "select_citation_method": "top",
        "prepfile": "prepare.txt",
        "errorsfile": "encoding_errors.txt",
        "partitions": 10
    },
    "concordance": {
        "regex_escape_chars": "?.*$+()[]^|",
        "regex_is_char": "[\\w'\\-]",
        "regex_start_right_concordance": "{0}\\s*{1}\\s*",
        "regex_start_right_one_token_concordance": "{0}\\s*{1}",
        "regex_end_left_concordance": "{0}\\s*{1}",
        "regex_end_right_concordance": "{0}",
        "regex_other_concordance": "{0}\\s*"
    },
    "concordance_width": {
        "width": 100
    },
    "concordance_sentences": {
        "sentences": 1
    },
    "pickle_report": {
        "pickle_file_name": "word_lists.pickled",
        "word_list_folder": "base_word_lists",
        "proper_noun_file": "properNouns.txt",
        "pattern": "basewrd{0}.txt",
        "number_of_lists": 25,
        "regex_extract_list_word": "[\\w]+",
        "regex_is_word": "^(?=([^']*[\\w]')?[^\\W]+$).{1,}$",
        "difficulty_threshold": 0.95
    }
}
